.HouseplantControl{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 5px;
}

.HouseplantControl div{
    background-size: cover;
    margin: 15px;
    margin-top: 0;
}