.content{
    position: fixed;
    top: 15%;
    left: 30%;
    width: 40%;
    padding: 1rem;
    background-color: rgb(243 , 219 , 3);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,  0, .5);
    transition: transform .5s ease-out;
    background-color: white;
    color: black;
}
@media(max-width: 550px){
    .content{
        width: 80%;
        left: 10%;

    }
}