.Toolbar{
    display: flex;
    justify-content: space-between;
    
    font-size: 1.7rem;
    background:rgb(243, 219, 3);
    color: green;
    box-shadow:  0 0 10px rgba(0, 0, 0, .5);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    /* padding: .5rem; */
}
@media (max-width:549px){
    .Toolbar nav{
        display: none;
    }
}