.HouseplantShop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 1.7rem;
}
H1{
    text-align: center;
    font-size: 45px;
    margin: 10px 0;
    color: green;
}