.HouseplantPot{
    width: 50px;
    height: 50px;
    margin-right: 7px;
    margin-bottom: 7px;
    margin-top: 7px;
    display: flex;
    
}
.HouseplantPot:hover{
    transform: scale(1.1);
}
.alocasia{
    background-image: url(../../../images/alocasia.svg);
}
.begonia{
    background-image: url(../../../images/begonia.svg);
}
.bonsai{
    background-image: url(../../../images/bonsai.svg);
}
.calathea{
    background-image: url(../../../images/calathea.svg);
}
.cyclamen{
    background-image: url(../../../images/cyclamen.svg);
}
.dracaena{
    background-image: url(../../../images/dracaena.svg);
}