@keyframes potAnimation {
    10%{
        transform-origin: bottom;
    }
    50%{
        transform: scale(.8);
        transform-origin: bottom;
    }
    100%{
        transform: scale(1);
        transform-origin: bottom;
    }
}
.HouseplantPot{
    background-size: cover;
    display: flex;

    margin: 10px;
    animation-name: potAnimation;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-timing-function: linear;

    z-index: 1;
}


