.HouseplantPot{
    background-size: cover;
    margin-right: 7px;
    margin-bottom: 7px;
    margin-top: 7px;
    display: flex;
    
}
.HouseplantPot:hover{
    transform: scale(1.1);
}

/* .animation{
    animation-name: potAnimation;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes potAnimation {
    10% {
        transform:scale(1);
    }
    100%{
        transform:scale(2);
    }
} */