.Drawer .content{
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;

    font-size: 1.7rem;
    background: lightgray;
    color: black;
    box-shadow:  0 0 10px rgba(0, 0, 0, .5);
    transition: transform .3s ease-out;
}
.open{
    transform: translateX(0);
}
.close{
    transform: translateX(-260px);
}


@media (min-width:550px){
    .Drawer {
        display: none;
    }
}