.HouseplantPreview{
  flex: 0 0 663px;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.pots {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 18px;
}
.price {
  background-color: green;
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 32px;
  padding: 5px;
  margin-bottom: 2rem;
  border-radius: 20px;
}
.shelf{
  background-size: auto;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    flex: 1 1 auto;
    margin-bottom: 70px;
}
.plantFlex {
  display: flex;
  flex-wrap: wrap;
  margin-left: 45px;
}
@media (max-width: 1020px) {
  .HouseplantPreview {
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .price {
    margin-top: 1rem;
  }
}
@media (min-width: 1040px){
  .HouseplantPreview{
      margin-right: 3rem;
  }
}
@media (max-width: 780px){
  .HouseplantPreview{
      transform: scale(.8);
  }
}
@media (max-width: 620px){
  .HouseplantPreview{
      transform: scale(.7);
  }
}
@media (max-width: 510px){
  .HouseplantPreview{
      transform: scale(.6);
      margin-top: -100px;
      margin-bottom: 0px;
  }
  .shelf{
      margin-bottom: 20px;
  }
}
@media (max-width: 445px){
  .HouseplantPreview{
      transform: scale(.5);
  }
}
@media (max-width: 375px){
  .HouseplantPreview{
      transform: scale(.4);
  }
}
@media (max-width: 300px){
  .HouseplantPreview{
      transform: scale(.3);
  }
}