.HouseplantPreview{
    width: 650px;
    background-color: rgb(243, 219, 3);

    margin-right: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-wrap:wrap;
}
.pots{
  display: flex;
  flex-wrap: wrap;
}