.NavItem a {
    color: white;
    border-bottom: 5px solid transparent;
    text-decoration: none;
    display: block;
    padding: .5rem 1rem .35rem;
  }
  .NavItem a:hover {
    border-color: white;
    background-color: rgb(245, 212, 105);
  }
  .NavItem a:active,
  .NavItem a.active {
    border-color: white;
  }

  
  @media(max-width:549px){
    .NavItem a{
        border-left:2px solid white ;
        border-bottom: none;

    }
}