.NavItem a {
    color: green;
    border-bottom: 5px solid transparent;
    text-decoration: none;
    display: block;
    padding: 1rem 1rem .5rem;
    height: 70px;
  }
  .NavItem a:hover {
    border-color: green;
    background-color: rgb(245, 212, 106);
  }
  .NavItem a:active,
  .NavItem a.active {
    border-color: green;
  }
  .NavItem{
    padding: 0;
  }
  
  @media(max-width:549px){
    .NavItem a{
        border-left:2px solid white ;
        border-bottom: none;

    }
}